extends layouts/view
block content
    .blank-print
        if data && data.length > 0
            .table-container.table-container-with-tools
                table.items-table.width-100.table-sort.table-bordered
                    thead
                        tr
                            th Номер счета
                            th Дата
                            th Сумма
                            th Позиции
                            th Контрагент
                            th(data-sort="string", width="1%") Статус
                    tbody
                        each val in data
                            tr(data-id="#{val._id}")
                                td(data-sort-value=val.number) #{val.number}
                                td(data-sort-value=val.date) #{utils.humanizeDate(val.date)}
                                td(data-sort-value=val.sum) #{utils.priceFormat(val.sum)}&nbsp;
                                    span.rub &#8399;
                                td #{val.count}
                                td
                                td
                                    span.nowrap
                                        if val.status == 1
                                            |Оплачен
                                        else
                                            |Не оплачен