extends layouts/main

block content
    h1
        case date_range
            when 'last_month'
                |Счета за текущий месяц
            when 'range'
                |Счета за выбранный период
            default
                |Счета

    .section-tools
        a#add.action-button.green(href="/accounts/add")
            i.icon-plus
            |Создать

        a#print.multi-action.action-button(href="#")
            i.icon-print
            |Напечатать

        a#delete.multi-action.action-button.warning(href="#")
            i.icon-cancel
            |Удалить

        form.filters
            .item
                label За период с
                input#filter-date-from(type="text", tabindex="1", name="date_from", value=filters.date_from)
            .item
                label по
                input#filter-date-to(type="text", tabindex="2", name="date_to", value=filters.date_to)

            if filters.date_to || filters.date_from
                .item
                    a.action-button.only-icon(href="/accounts", title="Отменить фильтр по датам")
                        i.icon-block
            .item
                input.action-button.blue(type="submit", value="Показать")

    if data.length > 0
        .table-container.table-container-with-tools
            table.items-table.width-100.table-sort.table-striped.table-hovered
                thead
                    tr
                        th(width="1%")
                            input.cb-all(type="checkbox")
                        th(data-sort="string") Номер счета
                            i.arrow.icon-down-dir
                        th(data-sort="string") Дата
                            i.arrow
                        th(data-sort="string") Сумма
                            i.arrow
                        th(data-sort="string") Контрагент
                            i.arrow
                        th(data-sort="string", width="1%") Статус
                            i.arrow
                tbody
                    each val in data
                        tr(data-id="#{val._id}")
                            td
                                input.cb-item(type="checkbox", data-id="#{val._id}")
                            td(data-sort-value=val.number)
                                a(href="/accounts/edit/#{val._id}") #{val.number}
                            td(data-sort-value=val.date) #{utils.humanizeDate(val.date)}
                            td(data-sort-value=val.sum) #{utils.priceFormat(val.sum)}&nbsp;
                                span.rub &#8399;
                            td
                            td
                                if val.status == 1
                                    span.status-label.active Оплачен

                                else
                                    span.status-label Не оплачен

    - var list_empty = ((data.length > 0) ? false : true)

    div.table-empty.table-empty-with-tools(style=(list_empty===true ? 'display: block' : 'display: none'))
        if filters.date_from || filters.date_to
            p
                |Счетов за период с&nbsp;
                strong #{utils.humanizeDate(filters.date_from)}
                |&nbsp;по&nbsp;
                strong #{utils.humanizeDate(filters.date_to)}
                |&nbsp;нет

            a.action-button(href="/accounts") Показать все счета
        else
            |У вас нет ни одного счета

    script.
        app.sections.accounts.list.init();