extends layouts/main

block content
    h1
        a(href="/accounts") Счета
        span.color-gray-light &nbsp;/&nbsp;
        span#header-item-name Счет №#{data.number}
        |&nbsp;
        span#header-item-date.color-gray-light от #{utils.humanizeDate(data.date)}

    .section-tools
        a#download.action-button(href="#")
            i.icon-doc-inv
            |Скачать PDF

        a#print.action-button(href="#")
            i.icon-print
            |Напечатать

        a#send.action-button(href="#")
            i.icon-export-alt
            |Отправить

        a#delete.action-button.warning(href="#")
            i.icon-cancel
            |Удалить

    form#form-edit-account.form.forms.forms-columnar(action='')
        .form-message

        .units-row-end
            .unit-50
                p
                    label(for="number") Номер счета
                    input#number.width-100(type='text', value=data.number)

                p
                    label(for="date") Дата
                    input#date.width-100(type='text', data-metatype='date', value=data.date)

                p
                    label(for="contractor") Контрагент
                    select#contractor
                        option(value="1") ООО &laquo;Системы и сервисы&raquo;

            .unit-50
                p
                    label(for="comment") Комментарий
                    textarea#comment.width-100(style="height: 81px") #{data.comment}


        input.button.blue(type='submit', value='Сохранить счет')

    script.
        app.sections.accounts.edit.init('!{data.id}');