extends layouts/view
block content
    .blank-print
        if data && data.length > 0
            .table-container.table-container-with-tools
                table.items-table.width-100.table-sort.table-bordered
                    thead
                        tr
                            th(data-sort="string") Номер счета
                                i.arrow.icon-down-dir
                            th(data-sort="string") Дата
                                i.arrow
                            th(data-sort="string") Сумма
                                i.arrow
                            th(data-sort="string") Контрагент
                                i.arrow
                            th(data-sort="string", width="1%") Статус
                                i.arrow
                    tbody
                        each val in data
                            tr(data-id="#{val._id}")
                                td(data-sort-value=val.number) #{val.number}
                                td(data-sort-value=val.date) #{utils.humanizeDate(val.date)}
                                td(data-sort-value=val.sum) #{utils.priceFormat(val.sum)}&nbsp;
                                    span.rub &#8399;
                                td
                                td
                                    if val.status == 1
                                        span.color-green.nowrap Оплачен
                                    else
                                        span.color-gray.nowrap Не оплачен
