extends layouts/view

block content
    .blank-print
        h3.text-centered Образец заполнения платежного поручения

        table.table.table-bordered.width-100
            tr
                if user.cc_type == 4
                    td(width='50%', colspan='2') ИНН #{user.cc_inn}
                else
                    td(width='25%') ИНН #{user.cc_inn}
                    td(width='25%') КПП #{user.cc_kpp}

                td.valign_bottom(width='25%', rowspan='2') Расчетный счет
                td.valign_bottom(width='25%', rowspan='2') #{user.bank_pay_account}
            tr
                td(colspan='2')
                    p
                        small Получатель
                    | #{utils.getCompanyTypeName(user.cc_type)} &laquo;#{user.cc_name}&raquo;
            tr
                td(colspan='2', rowspan='2')
                    p
                        small Банк получателя
                    | #{user.bank_name}
                td.valign_bottom
                    | БИК
                td.valign_bottom
                    | #{user.bank_bik}
            tr
                td.valign_bottom Корр. счет
                td.valign_bottom #{user.bank_corr_account}

        br

        h1 Счет №#{data.number} от #{utils.stringifyDate(data.date)}

        p
            |Поставщик:&nbsp;
            strong #{utils.getCompanyTypeName(user.cc_type)} &laquo;#{user.cc_name}&raquo;
            br
            |Покупатель:
            strong #{data.buyer}

        table.table.table-bordered.width-100
            tr
                th.text-centered(width='1%') №
                th.text-centered(width='58%') Наименование
                th.text-centered(width='20%') Цена
                th.text-centered(width='1%') Количество
                th.text-centered(width='1%') Единица
                th.text-centered(width='20%') Сумма

            - each item in data.items
                - var price_iclude_nds = (item.price + ((item.price / 100) * ((item.nds > 0) ? item.nds : 0)))
                tr
                    td.text-centered #{item.number}
                    td #{item.name}
                    td.text-right #{utils.priceFormat(price_iclude_nds)}
                    td.text-centered #{item.count}
                    td.text-centered #{item.unit}
                    td.text-right #{utils.priceFormat(price_iclude_nds * item.count)}

            tr
                td.no-border.border-right.text-right(colspan='5') Итого:
                td.text-right #{utils.priceFormat(data.sum)}
            tr
                td.no-border.border-right.text-right(colspan='5') #{(data.nds >= 0) ? 'В том числе НДС' : 'Без НДС'}:
                td.text-right !{(data.nds >= 0) ? utils.priceFormat(data.nds) : '&mdash;'}
            tr
                td.no-border.border-right.text-right(colspan='5') Всего:
                td.text-right #{utils.priceFormat(data.sum)}

        p Всего #{utils.numberToWords(data.items.length, 'neuter')} #{utils.pluralForm(data.items.length, 'наименование', 'наименования', 'наименований')}, на сумму #{utils.priceFormat(data.sum)} руб.
            br
            strong #{utils.priceToWords(data.sum)}

        p #{data.comment}

        .footer
            .seal
                img(src='/images/common-seal.png', width='180', height='180')