extends layouts/main

block content
    h1 Счета

    .section-tools
        a#add.action-button.green(href="/accounts/add")
            i.icon-plus
            | Создать

        a#delete.multi-action.action-button.warning(href="#")
            i.icon-cancel
            | Удалить

    if data.length > 0
        .table-container
            table#items-table.width-100.table-striped.table-bordered.table-sort
                thead
                    tr
                        th(width="1%")
                            input.cb-all(type="checkbox")
                        th(data-sort="string") Номер счета
                            i.arrow
                        th(data-sort="string") Дата
                            i.arrow.icon-down-dir
                        th(data-sort="string") Сумма
                            i.arrow
                        th(data-sort="string") Контрагент
                            i.arrow
                        th(data-sort="string", width="1%") Статус
                            i.arrow
                tbody
                    each val in data
                        tr(data-id="#{val._id}")
                            td
                                input.cb-item(type="checkbox", data-id="#{val._id}")
                            td
                                a(href="/accounts/edit/#{val._id}") #{val.number}
                            td #{utils.humanizeDate(val.date)}
                            td #{utils.priceFormat(val.sum)}&nbsp;
                                span.rub &#8399;
                            td
                            td
                                if val.status == 1
                                    span.status-label.active
                                        i.icon-ok
                                        |&nbsp;Оплачен

                                else
                                    span.status-label
                                        i.icon-circle-empty
                                        |&nbsp;Не оплачен

    - var list_empty = ((data.length > 0) ? false : true)

    div.table-empty(style=(list_empty===true ? 'display: block' : 'display: none')) У вас нет ни одного счета,&nbsp;
        a(href="/accounts/add") создайте новый

    script.
        app.sections.accounts.list.init();