extends layouts/view

block content
    .blank-print
        .units-row
            .unit-60.unit-push-40
                p.small #{data.comment}

        h3.text-centered Образец заполнения платежного поручения

        table.table.table-bordered.width-100
            tr
                if user.cc_type == 4
                    td(width='50%', colspan='2') ИНН #{user.cc_inn}
                else
                    td(width='25%') ИНН #{user.cc_inn}
                    td(width='25%') КПП #{user.cc_kpp}

                td.valign_bottom(width='25%', rowspan='2') Расчетный счет
                td.valign_bottom(width='25%', rowspan='2') #{user.bank_pay_account}
            tr
                td(colspan='2')
                    p
                        small Получатель
                    | #{utils.getCompanyTypeName(user.cc_type)} &laquo;#{user.cc_name}&raquo;
            tr
                td(colspan='2', rowspan='2')
                    p
                        small Банк получателя
                    | #{user.bank_name}
                td.valign_bottom
                    | БИК
                td.valign_bottom
                    | #{user.bank_bik}
            tr
                td.valign_bottom Корр. счет
                td.valign_bottom #{user.bank_corr_account}

        br

        h1 Счет №#{data.number} от #{utils.stringifyDate(data.date)}

        p
            |Поставщик:&nbsp;
            strong #{utils.getCompanyTypeName(user.cc_type)} &laquo;#{user.cc_name}&raquo;
            br
            |Покупатель:
            strong #{data.buyer}

        table.table.table-bordered.width-100
            tr
                th(width='1%') №
                th(width='58%') Наименование
                th(width='20%') Цена
                th(width='1%') Количество
                th(width='20%') Сумма

            - each item in data.items
                tr
                    td #{item.number}
                    td #{item.name}
                    td #{item.price}
                    td #{item.count}
                    td #{item.sum}

        p Всего #{utils.numberToWords(data.items.length, 'neuter')} #{utils.pluralForm(data.items.length, 'наименование', 'наименования', 'наименований')} на сумму #{utils.priceFormat(data.sum)} руб.
            br
            strong #{utils.priceToWords(data.sum)}

