extends layouts/main

block content
    h1
        a(href="/accounts") Счета
        span.color-gray-light &nbsp;/&nbsp;
        span#header-item-name Счет №#{data.number}
        |&nbsp;
        span#header-item-date.color-gray-light от #{utils.humanizeDate(data.date)}

    .section-tools
        a.action-download.action-button(href="#")
            i.icon-doc-inv
            |Скачать PDF

        a.action-print.action-button(href="#")
            i.icon-print
            |Напечатать

        a.action-send.action-button(href="#")
            i.icon-export-alt
            |Отправить

        a.action-delete.action-button.warning(href="#")
            i.icon-cancel
            |Удалить

    form#form-edit-account.form.forms.forms-columnar(action='')
        .form-message

        .units-row-end
            .unit-50
                .form-item
                    label(for="number") Номер счета
                    input#number.width-100(type='text', value=data.number)

                .form-item
                    label(for="date") Дата
                    input#date.width-100(type='text', data-metatype='date', value=utils.stringifyDate(data.date))

            .unit-50
                .form-item
                    label(for="status") Оплачен
                    input#status.stylish(type="checkbox", checked=(data.status===true ? 'checked' : undefined))

                .form-item
                    label(for="contractor") Контрагент
                    select#contractor
                        option(value="1") ООО &laquo;Системы и сервисы&raquo;

        .units-row-end
            .unit-100
                .form-item
                    input#items(type='hidden', value=JSON.stringify(data.items))
                    label(for="items") Позиции
                    #items-selector

        .units-row-end
            .unit-100
                .form-item
                    label(for="comment") Комментарий
                    textarea#comment.width-full-size #{data.comment}

        hr
        .units-row-end
            .unit-100
                .form-item.no-margin
                    input.button.blue(type='submit', value='Сохранить счет')
                    a.button.view-invoice(href="#") Посмотреть счет

    script.
        app.sections.accounts.edit.init('!{data.id}');