extends layouts/main

block content
    - var list_empty = ((data && data.length > 0) ? false : true)

    h1 Контрагенты

    .section-tools
        a#add.action-button.green(href= '/contractors/add')
            i.icon-plus
            | Создать
        a#delete.multi-action.action-button.warning(href="#")
            i.icon-cancel
            | Удалить

    if !list_empty
        .table-container.table-container-with-tools
            table.items-table.width-100.table-sort.table-striped.table-hovered
                thead
                    tr
                        th(width="1%")
                            input.cb-all(type="checkbox")
                        th Наименование
                        th Электронная почта
                        th Телефон
                        th Skype

                tbody
                    each val in data
                        tr(data-id="#{val._id}")
                            td
                                input.cb-item(type="checkbox", data-id="#{val._id}")
                            td(data-sort-value=val.cc_name)
                                a(href='/contractors/edit/#{val._id}') #{utils.getCompanyTypeName(val.cc_type)} &laquo;#{val.cc_name}&raquo;
                            td(data-sort-value=val.cc_email)
                                if val.cc_email
                                    a(href='mailto:#{val.cc_email}') #{val.cc_email}
                                else
                                    |&mdash;
                            td(data-sort-value=val.cc_phone)
                                if val.cc_phone
                                    |#{val.cc_phone}
                                else
                                    |&mdash;
                            td(data-sort-value=val.cc_skype)
                                if val.cc_skype
                                    |#{val.cc_skype}
                                else
                                    |&mdash;

    div.table-empty.table-empty-with-tools(style=(list_empty===true ? 'display: block' : 'display: none'))
        | У вас нет ни одного контрагента

    script.
        app.sections.contractors.list.init();