extends layouts/main

block content
    h1
        a(href="/contractors") Контрагенты
        | &nbsp;/&nbsp;Новый контрагент

    form#form-add-contractor.form.forms.forms-columnar(action='')
        .form-message

        .units-row-end
            .unit-50
                .form-item.no-margin
                    h3 Данные организации

                .form-item
                    label(for="cc_type") Тип
                    select#cc_type
                        option(value="1") #{utils.getCompanyTypeName(1)}
                        option(value="2") #{utils.getCompanyTypeName(2)}
                        option(value="3") #{utils.getCompanyTypeName(3)}
                        option(value="4") #{utils.getCompanyTypeName(4)}
                        option(value="5") #{utils.getCompanyTypeName(5)}
                        option(value="6") #{utils.getCompanyTypeName(6)}
                        option(value="7") #{utils.getCompanyTypeName(7)}
                        option(value="8") #{utils.getCompanyTypeName(8)}
                        option(value="9") #{utils.getCompanyTypeName(9)}

                .form-item
                    label(for="cc_name") Наименование
                    input#cc_name.width-100(type='text')

                .form-item.no-margin
                    h3 Руководство

                .form-item#cc_ceo_type_block
                    label(for="cc_ceo_type") Руководитель
                    select#cc_ceo_type
                        option(value="1") #{utils.getCEOType(1)}
                        option(value="2") #{utils.getCEOType(2)}
                        option(value="3") #{utils.getCEOType(3)}
                        option(value="4") #{utils.getCEOType(4)}
                        option(value="5") #{utils.getCEOType(5)}

                .form-item
                    label(for="cc_ceo_name") Имя руководителя
                    input#cc_ceo_name.width-100(type='text')

                .form-item
                    label(for="cc_accountant_type") Бухгалтер
                    select#cc_accountant_type
                        option(value="1") #{utils.getAccountantType(1)}
                        option(value="2") #{utils.getAccountantType(2)}
                        option(value="3") #{utils.getAccountantType(3)}
                        option(value="4") #{utils.getAccountantType(4)}

                .form-item#cc_accountant_name_block(style="display: none")
                    label(for="cc_accountant_name") Имя бухгалтера
                    input#cc_accountant_name.width-100(type='text')

                .form-item.no-margin
                    h3 Регистрационные данные

                .form-item
                    label(for="cc_inn") ИНН
                    input#cc_inn.width-100(type='text')

                .form-item#kpp-item
                    label(for="cc_kpp") КПП
                    input#cc_kpp.width-100(type='text')

                .form-item
                    label(for="cc_ogrn") ОГРН
                    input#cc_ogrn.width-100(type='text')

                .form-item.no-margin
                    h3 Банковские реквизиты

                .form-item
                    label(for="bank_pay_account") Расчетный счет
                    input#bank_pay_account.width-100(type='text')

                .form-item
                    label(for="bank_bik") БИК
                    input#bank_bik.width-100(type='text')

                .form-item
                    label(for="bank_name") Название банка
                    input#bank_name.width-100(type='text')

                .form-item
                    label(for="bank_corr_account") Корр. счет
                    input#bank_corr_account.width-100(type='text')

            .unit-50
                .form-item.no-margin
                    h3 Адрес организации

                .form-item
                    label(for="cc_city") Населенный пункт
                    input#cc_city.width-100(type='text')

                .form-item
                    label(for="cc_street") Улица
                    input#cc_street.width-100(type='text')

                .form-item
                    label(for="cc_house") Дом
                    input#cc_house.width-100(type='text')

                .form-item
                    label(for="cc_index") Почтовый индекс
                    input#cc_index.width-100(type='text')

                .form-item.no-margin
                    h3 Контактная информация

                .form-item
                    label(for="cc_phone") Телефон
                    input#cc_phone.width-100(type='tel')

                .form-item
                    label(for="cc_fax") Факс
                    input#cc_fax.width-100(type='tel')

                .form-item
                    label(for="cc_email") E-mail
                    input#cc_email.width-100(type='email')

                .form-item
                    label(for="cc_website") Сайт
                    input#cc_website.width-100(type='text')

                .form-item
                    label(for="cc_skype") Skype
                    input#cc_skype.width-100(type='text')

        .units-row-end
            .unit-100
                .form-item.no-margin
                    input.button.blue(type='submit', value='Создать контрагента')
    script.
        app.sections.contractors.add.init();