extends layouts/main

block content
    - var list_empty = ((data && data.length > 0) ? false : true)

    if nomgroup
        -var root = '/nomenclature/' + nomgroup._id;

        h1
            a(href="/nomenclature") Номенклатура
            |&nbsp;/&nbsp;
            span#global-nomgroup-name #{nomgroup.name}
    else
        -var root = '/nomenclature';

        h1 Номенклатура

    .units-row-end
        .unit-75
            .section-tools
                a#add.action-button.green(href= root + '/add')
                    i.icon-plus
                    |Создать

                a#delete.multi-action.action-button.warning(href="#")
                    i.icon-cancel
                    |Удалить

            if !list_empty
                .table-container.table-container-with-tools
                    table.items-table.width-100.table-sort.table-striped.table-hovered
                        thead
                            tr
                                th(width="1%")
                                    input.cb-all(type="checkbox")

                                th(data-sort="string") Наименование
                                    i.arrow.icon-up-dir

                                th(data-sort="string") Артикул
                                    i.arrow

                                if !nomgroup && !freegroup
                                    th(data-sort="string") Категория
                                        i.arrow

                                th(data-sort="string") Стоимость
                                    i.arrow

                        tbody
                            each val in data
                                -var nomgroup_data = getNomgroup(nomgroups, val._nomgroup_id)

                                tr(data-id="#{val._id}")
                                    td
                                        input.cb-item(type="checkbox", data-id="#{val._id}")

                                    td(data-sort-value=val.name)
                                        if nomgroup_data
                                            a.item-link(data-id=val._id.toString(), data-nomgroup_id=nomgroup_data._id.toString(), href='/nomenclature/' + nomgroup_data._id + '/edit/' + val._id) #{val.name}
                                        else
                                            a.item-link(data-id=val._id.toString(), href='/nomenclature/edit/' + val._id) #{val.name}

                                    td(data-sort-value=val.article)
                                        |#{val.article}

                                    if !nomgroup && !freegroup
                                        if nomgroup_data
                                            td(data-sort-value=nomgroup_data.name)
                                                a.nomgroup-link(data-id=nomgroup_data._id.toString(), href='/nomenclature/' + nomgroup_data._id) #{nomgroup_data.name}
                                        else
                                            td(data-sort-value='&mdash;') &mdash;

                                    td(data-sort-value=val.price) #{utils.priceFormat(val.price)}&nbsp;
                                        span.rub &#8399;

            if nomgroup
                div.table-empty.table-empty-with-tools(style=(list_empty===true ? 'display: block' : 'display: none'))
                    |У вас нет ни одной позиции в группе&nbsp;
                    strong
                        |&laquo;
                        span#empty-nomgroup-name #{nomgroup.name}
                        |&raquo;

            else
                div.table-empty.table-empty-with-tools(style=(list_empty===true ? 'display: block' : 'display: none'))
                    |У вас нет ни одной позиции в номенклатуре

        .unit-25
            .section-tools
                a#add-nomgroup.action-button(href="#")
                    i.icon-plus
                    | Создать категорию

            .side-menu.with-tools
                div.group
                    a(href="/nomenclature", class=(!nomgroup && !freegroup) ? 'active' : '')
                        strong Все категории

                    a(href="/nomenclature/free", class=((!nomgroups || (nomgroups && nomgroups.length < 1)) ? 'last ' : '') + ((freegroup) ? 'active' : ''))
                        strong Без категории

                div.sorting
                    each nomgroup_item in nomgroups
                        -var is_active = (nomgroup && nomgroup._id.toString()==nomgroup_item._id.toString() ? 'active' : '')
                        -var is_last = (nomgroups.length < 2) ? ' last' : ''

                        a(href='/nomenclature/' + nomgroup_item._id, class=is_active + is_last, data-id=nomgroup_item._id.toString())
                            span.nomgroup-name #{nomgroup_item.name}
                            i.edit-nomgroup.actions.icon-menu(data-id=nomgroup_item._id.toString(), data-name=nomgroup_item.name)

    script.
        app.sections.nomenclature.list.init('#{(nomgroup) ? nomgroup._id : null}');