extends layouts/main

block content
    h1 Настройка

    .units-row-end
        .unit-75
            form#form-edit-company.form.forms.forms-columnar(action='')
                .form-message

                .form-hidden-section.active(data-name="seal")
                    h3 Печать

                    .crop-upload

                .form-hidden-section(data-name="general")
                    .units-row-end
                        .unit-100
                            .form-item
                                h3 Данные организации

                    .units-row-end
                        .unit-80
                            .form-item
                                label(for="cc_type") Тип
                                select#cc_type
                                    option(value="1", selected=user.cc_type == 1) #{utils.getCompanyTypeName(1)}
                                    option(value="2", selected=user.cc_type == 2) #{utils.getCompanyTypeName(2)}
                                    option(value="3", selected=user.cc_type == 3) #{utils.getCompanyTypeName(3)}
                                    option(value="4", selected=user.cc_type == 4) #{utils.getCompanyTypeName(4)}
                                    option(value="5", selected=user.cc_type == 5) #{utils.getCompanyTypeName(5)}
                                    option(value="6", selected=user.cc_type == 6) #{utils.getCompanyTypeName(6)}
                                    option(value="7", selected=user.cc_type == 7) #{utils.getCompanyTypeName(7)}
                                    option(value="8", selected=user.cc_type == 8) #{utils.getCompanyTypeName(8)}
                                    option(value="9", selected=user.cc_type == 9) #{utils.getCompanyTypeName(9)}

                            .form-item
                                label(for="cc_inn") ИНН
                                input#cc_inn.width-100(type='text', value=user.cc_inn)

                    .units-row-end
                        .unit-80
                            .form-item
                                label(for="cc_name") Наименование
                                input#cc_name.width-100(type='text', value=user.cc_name)

                    .units-row-end
                        .unit-80
                            .form-item#kpp-item(style="display: #{((user.cc_type == 4) ? 'none' : 'block')}")
                                label(for="cc_kpp") КПП
                                input#cc_kpp.width-100(type='text', value=user.cc_kpp)

                            .form-item
                                label(for="cc_ogrn") #{((user.cc_type == 4) ? 'ОГРНИП' : 'ОГРН')}
                                input#cc_ogrn.width-100(type='text', value=user.cc_ogrn)

                .form-hidden-section(data-name="address")
                    .units-row-end
                        .unit-100
                            .form-item
                                h3 Адрес организации

                    .units-row-end
                        .unit-80
                            .form-item
                                label(for="cc_city") Населенный пункт
                                input#cc_city.width-100(type='text', value=user.cc_city)

                            .form-item
                                label(for="cc_street") Улица
                                input#cc_street.width-100(type='text', value=user.cc_street)

                            .form-item
                                label(for="cc_house") Дом
                                input#cc_house.width-100(type='text', value=user.cc_house)

                            .form-item
                                label(for="cc_index") Почтовый индекс
                                input#cc_index.width-100(type='text', value=user.cc_index)


                .form-hidden-section(data-name="contacts")
                    .units-row-end
                        .unit-100
                            .form-item
                                h3 Контактная информация

                    .units-row-end
                        .unit-80
                            .form-item
                                label(for="cc_phone") Телефон
                                input#cc_phone.width-100(type='tel', value=user.cc_phone)

                            .form-item
                                label(for="cc_fax") Факс
                                input#cc_fax.width-100(type='tel', value=user.cc_fax)

                            .form-item
                                label(for="cc_email") e-mail
                                input#cc_email.width-100(type='email', value=user.cc_email)

                            .form-item
                                label(for="cc_skype") Skype
                                input#cc_skype.width-100(type='text', value=user.cc_skype)

                .form-hidden-section(data-name="bank")
                    .units-row-end
                        .unit-100
                            .form-item
                                h3 Реквизиты банка

                    .units-row-end
                        .unit-80
                            .form-item
                                label(for="bank_bik") БИК
                                input#bank_bik.width-100(type='text', value=user.bank_bik)

                            .form-item
                                label(for="bank_name") Название банка
                                input#bank_name.width-100(type='text', value=user.bank_name)

                            .form-item
                                label(for="bank_pay_account") Расчетный счет
                                input#bank_pay_account.width-100(type='text', value=user.bank_pay_account)

                            .form-item
                                label(for="bank_corr_account") Корр. счет
                                input#bank_corr_account.width-100(type='text', value=user.bank_corr_account)

                hr
                .units-row-end
                    .unit-100
                        .form-item.no-margin
                            input.button.blue(type='submit', value='Сохранить')

        .unit-25
            .side-menu
                a.active(href="#", data-name="general") Данные организации
                a(href="#", data-name="address") Адрес организации
                a(href="#", data-name="contacts") Контактная информация
                a(href="#", data-name="bank") Реквизиты банка
                a(href="#", data-name="seal") Печать

    script.
        app.sections.settings.init();